---
layout: default
title: Empty Trash
---

<div class="row">
  <div class="ten columns">
  <hr>
    {% for post in paginator.posts %}
      <h5><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h5>
      <p>{{ post.date | date_to_string }} // 
      {% capture words %}
      {{ post.content | number_of_words | minus: 250 }}
      {% endcapture %}
      {% unless words contains "-" %}
      {{ words | plus: 250 | append: " words" }}
      {% endunless %}</p><p>{{ post.preview }}</p><hr>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="three columns" style="margin-bottom: 1%">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Newer</a>
  {% else %}
    <span class="inactive">Newer</span>
  {% endif %}
  </div>
  <div class="three columns" style="margin-bottom: 1%">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Older</a>
  {% else %}
    <span class="inactive">Older</span>
  {% endif %}
  </div>
</div>
<div class="row">
  <div class="twelve columns" style="margin-bottom: 1%">
    <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  </div>
</div>
