---
layout: default
title: Empty Trash
---
<div class="row">
  <div class="eight columns" style="margin-top: 1%">
    {% for post in paginator.posts %}
      <h5><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h5>
      <p><i>{{ post.date | date_to_string }}</i></p>{{ post.excerpt }}<hr>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="eight columns" style="margin-top: 1%">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="u-pull-left">Previous</a>
  {% else %}
    <span class="u-pull-left">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="u-pull-right">Next</a>
  {% else %}
    <span class="u-pull-right">Next</span>
  {% endif %}
</div>
