---
layout: default
title: Empty Trash
---
<div class="row">
  <div class="ten columns" style="margin-top: 15%">
    {% for post in paginator.posts %}
      <h5><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h5> <h6><i>(<span>{{ post.date | date_to_string }}</span>)</i></h6>{{ post.excerpt }}<hr>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="two-thirds column">
  {% if paginator.previous_page %}
    <h5 class="u-pull-left"><a href="{{ paginator.previous_page_path }}">Previous</a></h5>
  {% else %}
    <h5 class="u-pull-left"><span>Previous</span></h5>
  {% endif %}
  <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <h5 class="u-pull-left"><a href="{{ paginator.next_page_path }}">Next</a></h5>
  {% else %}
    <h5 class="u-pull-left"><span>Next</span></h5>
  {% endif %}
  </div>
</div>
