<!DOCTYPE html>
  <html lang="en">
    <head>
      <!-- Basic Page Needs
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <title>{{ page.title }}</title>
      
      <!-- Mobile Specific Metas
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- CSS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="stylesheet" type="text/css" href="/css/normalize.css">
      <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
      
      <!-- Favicon
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="icon" type="image/png" href="/public/favicon.png">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-precomposed.png">
      
    
    </head>
    <body>
    
      <!-- Primary Page Layout
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <p></p>
      <div class="container">
        <div class="row">
          <div class="twelve columns" style="margin-top: 5%">
            <h1><b><a class="trash" href="{{ site.url }}">wastepaper</a></b></h1>
          </div>
        </div>
        {{ content }}
      </div>
      <p></p>
      
    </body>
  </html>
